<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aabeb0">  <td>17/11/16 11:17:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GridParreleltests.test1()[pri:0, instance:grid.GridParreleltests@6276ae34]">test1</td> 
  <td>main@214074868</td>   <td></td> </tr>
<tr bgcolor="aabeb0">  <td>17/11/16 11:17:51</td>   <td>9910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GridParreleltests.test2()[pri:0, instance:grid.GridParreleltests@6276ae34]">test2</td> 
  <td>main@214074868</td>   <td></td> </tr>
</table>
