<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a07db3">  <td>17/11/16 11:20:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GridParreleltests.test1()[pri:0, instance:grid.GridParreleltests@3c09711b]">test1</td> 
  <td>pool-1-thread-1@1944039588</td>   <td></td> </tr>
<tr bgcolor="a07db3">  <td>17/11/16 11:20:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GridParreleltests.test2()[pri:0, instance:grid.GridParreleltests@3c09711b]">test2</td> 
  <td>pool-1-thread-2@995109890</td>   <td></td> </tr>
</table>
